USE [MvcKampDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Abouts]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abouts](
	[AboutId] [int] IDENTITY(1,1) NOT NULL,
	[AboutDetails1] [nvarchar](1000) NULL,
	[AboutDetails2] [nvarchar](1000) NULL,
	[AboutImage1] [nvarchar](100) NULL,
	[AboutImage2] [nvarchar](100) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Abouts] PRIMARY KEY CLUSTERED 
(
	[AboutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[AdminUserName] [varbinary](max) NULL,
	[AdminPasswordHash] [varbinary](max) NULL,
	[AdminPasswordSalt] [varbinary](max) NULL,
	[AdminName] [nvarchar](max) NULL,
	[AdminStatus] [bit] NOT NULL,
	[RoleId] [int] NULL,
 CONSTRAINT [PK_dbo.Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[CategoryDescription] [nvarchar](200) NULL,
	[CategoryStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NULL,
	[UserMail] [nvarchar](50) NULL,
	[Subject] [nvarchar](50) NULL,
	[Message] [nvarchar](max) NULL,
	[ContactDate] [datetime] NOT NULL,
	[Read] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contents]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contents](
	[ContentId] [int] IDENTITY(1,1) NOT NULL,
	[ContentValue] [nvarchar](1000) NULL,
	[ContentDate] [datetime] NOT NULL,
	[HeadingId] [int] NOT NULL,
	[WriterId] [int] NULL,
	[ContentStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contents] PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Headings]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Headings](
	[HeadingId] [int] IDENTITY(1,1) NOT NULL,
	[HeadingName] [nvarchar](50) NULL,
	[HeadingDate] [datetime] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[WriterId] [int] NOT NULL,
	[HeadingStatus] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Headings] PRIMARY KEY CLUSTERED 
(
	[HeadingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImageFiles]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImageFiles](
	[ImageId] [int] IDENTITY(1,1) NOT NULL,
	[ImageName] [nvarchar](100) NULL,
	[ImagePath] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.ImageFiles] PRIMARY KEY CLUSTERED 
(
	[ImageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MessageId] [int] IDENTITY(1,1) NOT NULL,
	[SenderMail] [nvarchar](80) NULL,
	[ReceiverMail] [nvarchar](80) NULL,
	[Subject] [nvarchar](100) NULL,
	[MessageContent] [nvarchar](max) NULL,
	[MessageDate] [datetime] NOT NULL,
	[Draft] [bit] NOT NULL,
	[Read] [bit] NOT NULL,
	[ReceiverStatus] [bit] NOT NULL,
	[SenderStatus] [bit] NOT NULL,
	[ReceiverDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Messages] PRIMARY KEY CLUSTERED 
(
	[MessageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](1) NULL,
	[Description] [nvarchar](250) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [nvarchar](max) NULL,
	[SkillPercent] [int] NOT NULL,
	[SkillValue] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Skills] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Writers]    Script Date: 7/12/2021 3:08:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Writers](
	[WriterId] [int] IDENTITY(1,1) NOT NULL,
	[WriterName] [nvarchar](50) NULL,
	[WriterSurname] [nvarchar](50) NULL,
	[WriterImage] [nvarchar](300) NULL,
	[WriterMail] [nvarchar](200) NULL,
	[WriterAbout] [nvarchar](100) NULL,
	[WriterTitle] [nvarchar](50) NULL,
	[WriterStatus] [bit] NOT NULL,
	[WriterPasswordHash] [varbinary](max) NULL,
	[WriterPasswordSalt] [varbinary](max) NULL,
 CONSTRAINT [PK_dbo.Writers] PRIMARY KEY CLUSTERED 
(
	[WriterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Abouts] ON 

INSERT [dbo].[Abouts] ([AboutId], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [Status]) VALUES (1, N'Detail 1', N'Detail 2', N'Image1', N'Image2', 0)
INSERT [dbo].[Abouts] ([AboutId], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [Status]) VALUES (7, N'Detail 1', N'Detail 2', N'A', N'aaa', 0)
INSERT [dbo].[Abouts] ([AboutId], [AboutDetails1], [AboutDetails2], [AboutImage1], [AboutImage2], [Status]) VALUES (9, N'Detail 1', N'Detail 2', N'A', N'A', 0)
SET IDENTITY_INSERT [dbo].[Abouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

SET IDENTITY_INSERT [dbo].[Admins] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (1, N'Eğitim', N'Burası eğitim kategorisidir.', 0)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (3, N'Tiyatro', N'Burası tiyatro kategorisidir.', 1)
INSERT [dbo].[Categories] ([CategoryId], [CategoryName], [CategoryDescription], [CategoryStatus]) VALUES (4, N'Kitap', NULL, 1)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([ContactId], [UserName], [UserMail], [Subject], [Message], [ContactDate], [Read]) VALUES (1, N'Ahmet Yıldız', N'yıldız@gmail.com', N'Teşekkür', N'Çok teşekkür ederim sitenizi çok seviyorum. Her zaman takipteyim.', CAST(N'2021-06-22T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Contacts] ([ContactId], [UserName], [UserMail], [Subject], [Message], [ContactDate], [Read]) VALUES (4, N'Bedirhan', N'erkilicbedirhanv2@gmail.com', N'Test12', N'Test12Test123Test12Test12Test12Test12Test12Test12', CAST(N'2021-07-06T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
SET IDENTITY_INSERT [dbo].[Contents] ON 

INSERT [dbo].[Contents] ([ContentId], [ContentValue], [ContentDate], [HeadingId], [WriterId], [ContentStatus]) VALUES (1, N'Walter White''ın efsane yaşam öyküsü.', CAST(N'2021-10-05T00:00:00.000' AS DateTime), 1, 12, 1)
INSERT [dbo].[Contents] ([ContentId], [ContentValue], [ContentDate], [HeadingId], [WriterId], [ContentStatus]) VALUES (2, N'Küçük Walter seni çok özledik keşke bu dizi devam etse.', CAST(N'2021-10-05T00:00:00.000' AS DateTime), 1, 12, 1)
INSERT [dbo].[Contents] ([ContentId], [ContentValue], [ContentDate], [HeadingId], [WriterId], [ContentStatus]) VALUES (3, N'Bu film 2019 yılında oscar ödülünü almayı başardı.', CAST(N'2021-10-05T00:00:00.000' AS DateTime), 2, 13, 1)
SET IDENTITY_INSERT [dbo].[Contents] OFF
GO
SET IDENTITY_INSERT [dbo].[Headings] ON 

INSERT [dbo].[Headings] ([HeadingId], [HeadingName], [HeadingDate], [CategoryId], [WriterId], [HeadingStatus]) VALUES (1, N'Breaking Bad', CAST(N'2021-12-05T00:00:00.000' AS DateTime), 7, 12, 1)
INSERT [dbo].[Headings] ([HeadingId], [HeadingName], [HeadingDate], [CategoryId], [WriterId], [HeadingStatus]) VALUES (2, N'Green Book', CAST(N'2021-10-05T00:00:00.000' AS DateTime), 4, 12, 1)
INSERT [dbo].[Headings] ([HeadingId], [HeadingName], [HeadingDate], [CategoryId], [WriterId], [HeadingStatus]) VALUES (3, N'İtiraflarım', CAST(N'2021-10-05T00:00:00.000' AS DateTime), 4, 12, 1)
SET IDENTITY_INSERT [dbo].[Headings] OFF
GO
SET IDENTITY_INSERT [dbo].[ImageFiles] ON 

INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImagePath]) VALUES (1, N'Adana', N'/Themes/Images/Adana3.jpg')
INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImagePath]) VALUES (2, N'Adıyaman', N'/Themes/Images/Adıyaman.jpg')
INSERT [dbo].[ImageFiles] ([ImageId], [ImageName], [ImagePath]) VALUES (3, N'Çanakkale', N'/Themes/Images/Çanakkale.jpg')
SET IDENTITY_INSERT [dbo].[ImageFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MessageId], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate], [Draft], [Read], [ReceiverStatus], [SenderStatus], [ReceiverDelete]) VALUES (1, N'erkilicbedirhan@gmail.com', N'admin@gmail.com', N'Deneme', N'<h1>Merhaba, bu bir deneme mesajıdır. Umarım yerine ulaşır.</h1>', CAST(N'2021-02-06T00:00:00.000' AS DateTime), 0, 1, 1, 1, 1)
INSERT [dbo].[Messages] ([MessageId], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate], [Draft], [Read], [ReceiverStatus], [SenderStatus], [ReceiverDelete]) VALUES (3, N'erkilicbedirhan@gmail.com', N'emel@gmail.com', N'Soru', N'Merhaba Emel Hanım, ben bu  anlattıklarınızı bir türlü anlayamıyorum. Bir tavsiye verebilirmisinzi ne yapmalıyım.', CAST(N'2021-01-06T00:00:00.000' AS DateTime), 0, 0, 0, 0, 0)
INSERT [dbo].[Messages] ([MessageId], [SenderMail], [ReceiverMail], [Subject], [MessageContent], [MessageDate], [Draft], [Read], [ReceiverStatus], [SenderStatus], [ReceiverDelete]) VALUES (4, N'gizem@hotmail.com', N'admin@gmail.com', N'Şifre Değişikliği', N'Merhaba şifremi değiştiremiyorum bir el atabilirmisin.', CAST(N'2021-01-06T00:00:00.000' AS DateTime), 0, 0, 1, 0, 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (1, N'A', N'Super Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (2, N'B', N'Admin')
INSERT [dbo].[Roles] ([RoleId], [RoleName], [Description]) VALUES (3, N'C', N'Normal Admin')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Skills] ON 

INSERT [dbo].[Skills] ([SkillId], [SkillName], [SkillPercent], [SkillValue]) VALUES (3, N'C#', 80, 200)
INSERT [dbo].[Skills] ([SkillId], [SkillName], [SkillPercent], [SkillValue]) VALUES (4, N'Asp.Net Mvc', 90, 230)
INSERT [dbo].[Skills] ([SkillId], [SkillName], [SkillPercent], [SkillValue]) VALUES (5, N'Asp.Net Core Mvc', 80, 200)
SET IDENTITY_INSERT [dbo].[Skills] OFF
GO
SET IDENTITY_INSERT [dbo].[Writers] ON 

SET IDENTITY_INSERT [dbo].[Writers] OFF
GO
ALTER TABLE [dbo].[Abouts] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [ContactDate]
GO
ALTER TABLE [dbo].[Contacts] ADD  DEFAULT ((0)) FOR [Read]
GO
ALTER TABLE [dbo].[Contents] ADD  DEFAULT ((0)) FOR [ContentStatus]
GO
ALTER TABLE [dbo].[Headings] ADD  DEFAULT ((0)) FOR [HeadingStatus]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [Draft]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [Read]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [ReceiverStatus]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [SenderStatus]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [ReceiverDelete]
GO
ALTER TABLE [dbo].[Writers] ADD  DEFAULT ((0)) FOR [WriterStatus]
GO
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Admins_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_dbo.Admins_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Headings_HeadingId] FOREIGN KEY([HeadingId])
REFERENCES [dbo].[Headings] ([HeadingId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Headings_HeadingId]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterId] FOREIGN KEY([WriterId])
REFERENCES [dbo].[Writers] ([WriterId])
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.Writers_WriterId]
GO
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Headings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterId] FOREIGN KEY([WriterId])
REFERENCES [dbo].[Writers] ([WriterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Headings] CHECK CONSTRAINT [FK_dbo.Headings_dbo.Writers_WriterId]
GO
