
<section class="services py-md-5 py-4" id="services">
    <div class="container">
        <div class="inner-sec-w3ls py-md-5 py-4">
            <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center text-white">Bu Projede Neler Yaptım?</h3>
            <div class="price-right">
                <div class="tabs">
                    <ul class="nav nav-pills my-md-5 my-3 justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Yaptıklarım 1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Yaptıklarım 2</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                            <div class="menu-grids mt-4">
                                <div class="row t-in">
                                    <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="fas fa-list-ul mb-4"></i>
                                                <h5 class="card-title text-uppercase">Sql Veri Tabanı</h5>
                                                <p class="card-text">Projemde veri tabanı olarak MsSql kullandım. Sunucuya taşırken hosting desteği olan bir sunucu üzerinde çalıştım. </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="far fa-lightbulb mb-4"></i>
                                                <h5 class="card-title text-uppercase">Tasarım Araçları</h5>
                                                <p class="card-text">Projenin frontend tarafında HTML5, CSS, Bootstrap, Javascript, Jquery bileşenlerine yer vererek tasarım tarafını gerçekleştirdim.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 service-in text-center" data-aos="flip-up">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="far fa-clone mb-4"></i>
                                                <h5 class="card-title text-uppercase">Proje Kampı</h5>
                                                <p class="card-text">100 Derslik Mvc Proje Kampı kapsamında her hafta düzenli olarak kendi yorumlarımı da katarak geliştirme yaptım.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <div class="menu-grids mt-4">
                                <div class="row t-in">
                                    <div class="col-lg-4 service-in text-center">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="far fa-heart mb-4"></i>
                                                <h5 class="card-title">Asp.Net Mvc5</h5>
                                                <p class="card-text">Bu projeyi sektörün güncel geliştirme başlıklarından olan .Net Mvc5 ile geliştirdim.</p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-lg-4 service-in text-center">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="fas fa-magic mb-4"></i>
                                                <h5 class="card-title">N Katmanlı Mimari</h5>
                                                <p class="card-text">Projemi Business, Entity, DataAcess ve Presentation olmak üzere 4 temel katmanda değiştirdim.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 service-in text-center">
                                        <div class="card">
                                            <div class="card-body">
                                                <i class="fas fa-sliders-h mb-4"></i>
                                                <h5 class="card-title">SOLID</h5>
                                                <p class="card-text">SOLID presiplerini olabildiğince ezmeden ilerleyip doğru formatta kod yazmaya çalıştım.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
