
<div class="testimonials py-lg-5 py-4" id="clients">
    <div class="testimonials-inner container py-lg-4 py-3">
        <h4 class="sub-tittle-w3 text-uppercase text-center">Kısa Notlar</h4>
        <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Projeye Dair</h3>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <div class="testimonials_grid center">
                        <div class="testimonials_grid-inn text-uppercase">
                            <i class="fas fa-quote-left"></i>
                            <p>Projeyi geliştirirken .Net Mvc5 ile SOLID presiplerine uygun bir şekilde N tier arc. olarak adlandıran n katmanlı mimari yapısını ezmeden ilerlemeye çalıştım. Projeyi yaklaşık 3 ayda tamamladım.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonials_grid text-center">
                        <div class="testimonials_grid-inn text-uppercase">
                            <i class="fas fa-quote-left"></i>
                            <p>Ben geliştirirken çok keyif aldım umarım sizler de projeyi beğenirsiniz. Yorumlarınınz benim için çok önemli. Lütfen yorumlarınızı iletişim kısmından bana iletiniz.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonials_grid">
                        <div class="testimonials_grid-inn text-uppercase">
                            <i class="fas fa-quote-left"></i>
                            <p>Bu proje uzun süredir aklımda olan mvc dünyasına kurumsal mimari ile giriş yaptğım 100 dersin sonunda ortaya çıkan güzel bir ürün oldu.</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev test" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="fas fa-long-arrow-alt-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next test" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="fas fa-long-arrow-alt-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>

                </a>
            </div>
        </div>
    </div>
</div>