
<section class="banner-bottom-wthree py-lg-5 py-md-5 py-4" id="about">
    <div class="container">
        <div class="inner-sec-w3ls py-lg-5 py-4">
            <div class="info-about text-center">
                <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3">Kullandığım Geliştirme Bileşenleri</h3>
                <div class="row mt-lg-5 mt-3">
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">C#</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">Entity Framework</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">Asp.Net Mvc</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">SOLID</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 progress-info-content text-left">
                        <div class="progress-one my-lg-5" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">Kurumsal Mimari</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-secondary" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one" data-aos="fade-up">
                            <h4 class="progress-tittle-w3">
                                Sql
                            </h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>