
<section class="gallery py-md-5 py-3" id="projects">
    <div class="gallery-inner container py-md-5 pb-3">
        <h3 class="tittle-w3 text-uppercase mb-lg-5 mb-3 text-center">Proje Görselleri</h3>
        <div class="row">
            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Themes/Showcase/images/1.PNG">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Themes/Showcase/images/1.PNG" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 1</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Themes/Showcase/images/2.PNG">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Themes/Showcase/images/2.PNG" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 2</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Themes/Showcase/images/3.PNG">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Themes/Showcase/images/3.PNG" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 3</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Themes/Showcase/images/4.PNG">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Themes/Showcase/images/4.PNG" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 4</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Themes/Showcase/images/5.PNG">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Themes/Showcase/images/5.PNG" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 5</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Themes/Showcase/images/6.PNG">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Themes/Showcase/images/6.PNG" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 6</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 proj_gallery_grid" data-aos="zoom-in">
                <div class="section_1_gallery_grid">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Themes/Showcase/images/7.PNG">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Themes/Showcase/images/7.PNG" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 7</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Themes/Showcase/images/8.PNG">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Themes/Showcase/images/8.PNG" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 8</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="section_1_gallery_grid" data-aos="zoom-in">
                    <a title="Donec sapien massa, placerat ac sodales ac, feugiat quis est." href="~/Themes/Showcase/images/9.PNG">
                        <div class="section_1_gallery_grid1">
                            <img src="~/Themes/Showcase/images/9.PNG" alt=" " class="img-fluid" />
                            <div class="proj_gallery_grid1_pos">
                                <h3>Görsel 9</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>