
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Paneli</title>
    <link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Themes/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <script src="~/Themes/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="/AdminCategory/Index" class="brand-link">
                <img src="~/Themes/AdminLTE-3.0.4/dist/img/AdminLTELogo.png" alt="Adsız.Sözlük" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">Adsız.Sözlük</span>
            </a>
            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Themes/AdminLTE-3.0.4/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="/AdminCategory/Index" class="d-block">Alexander Pierce</a>
                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="/AdminCategory/Index" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Kategoriler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th-list"></i>
                                <p>
                                    Başlıklar
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Heading/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Başlık Listesi</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Calendar/Index" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Takvim</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Heading/HeadingReport" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Başlık Raporları</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Content/GetAllContent" class="nav-link">
                                <i class="nav-icon fas fa-book-reader"></i>
                                <p>
                                    Yazılar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Writer/Index" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Yazarlar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Grafikler
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/Chart/PieChart" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Yazar - Başlık Grafiği</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Chart/LineChart" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Kategori - Başlık Grafiği</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/Chart/ColumnChart" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Başlık - İçerik Grafiği</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/About/Index" class="nav-link">
                                <i class="nav-icon fas fa-briefcase"></i>
                                <p>
                                    Hakkımızda
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Message/Inbox" class="nav-link">
                                <i class="nav-icon fas fa-edit"></i>
                                <p>
                                    İletişim & Mesajlar
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Authorization/Index" class="nav-link">
                                <i class="nav-icon fas fa-cogs"></i>
                                <p>
                                    Yetkilendirmeler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Gallery/Index" class="nav-link">
                                <i class="nav-icon far fa-image"></i>
                                <p>
                                    Galeri
                                </p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a href="/Test/SweetAlert" class="nav-link">
                                    <i class="nav-icon far fa-map"></i>
                                    <p>
                                        Sweet Alert
                                    </p>
                                </a>
                            </li>*@
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-bomb"></i>
                                <p>
                                    Hata Sayfaları
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="/ErrorPage/Page404" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>404</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>500</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>200</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="/Skills/Index" class="nav-link">
                                <i class="nav-icon fas fa-star"></i>
                                <p>
                                    Yeteneklerim
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Home/HomePage" class="nav-link">
                                <i class="nav-icon fas fa-arrow-left"></i>
                                <p>
                                    Siteye Git
                                </p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="/Login/LogOut" class="nav-link">
                                <i class="nav-icon fas fa-power-off"></i>
                                <p>
                                    Çıkış Yap
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper">
            <div class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/Themes/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Themes/AdminLTE-3.0.4/dist/js/adminlte.js"></script>
    <script src="~/Themes/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
    <script src="~/Themes/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <script src="~/Themes/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>
</body>
</html>