@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>
    Kategoriler
    <a href="/AdminCategory/AddCategory" style="margin-left:25px;position:absolute;right:10px"><i class="fas fa-plus"></i> Ekle</a>
</h3>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>Sil</th>
        <th>Kategori Adı</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><a href="/AdminCategory/DeleteCategory/@item.CategoryId" style="color:red"><strong>X</strong></a></td>
            <td>@item.CategoryName</td>
            <td>
                <a style="margin-right:5px" href="/AdminCategory/EditCategory/@item.CategoryId" class="btn btn-secondary btn-sm"><i class="fas fa-pencil-alt"></i> Güncelle</a>
                <a href="/Heading/Index" class="btn btn-info btn-sm"><i class="fas fa-quote-left"></i> Başlıklar</a>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {
        "page-link"
    }
})