<button class="btn btn-primary"  style="margin-left:25px;position:absolute;right:10px" data-toggle="modal" data-target="#Modal1">
    <i class="fas fa-plus"></i> Ekle
</button>

<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Metin Girişi</h2>
            </div>
            <form method="post" action="/About/AddAbout">
                <div class="modal-body">
                    <label>Başlık</label>
                    <input type="text" name="AboutDetails1" class="form-control" />
                    <br />
                    <label>Açıklama</label>
                    <input type="text" name="AboutDetails2" class="form-control" />
                    <br />
                    <label>Görsel 1</label>
                    <input type="text" name="AboutImage1" class="form-control" />
                    <br />
                    <label>Görsel 2</label>
                    <input type="text" name="AboutImage2" class="form-control" />
                    <br />
                    <button class="btn btn-primary"><i class="fas fa-plus"></i> Ekle</button>
                </div>
            </form>
        </div>
    </div>
</div>