@using EntityLayer.Concrete
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>
    Hakkımızda
    @Html.Action("AddAboutPartial", "About")
</h3>
<br />
<table class="table table-bordered table-hover">
    <tr>
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>İşlemler</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutDetails1</td>
            <td>@item.AboutDetails2</td>
            <td>
                @if (item.Status == true)
                {
                    <p style="color:green">Aktif</p>
                }
                else
                {
                    <p style="color:red">Pasif</p>
                }
            </td>
            @if (item.Status == true)
            {
                <td><a class="btn btn-danger btn-sm" href="/About/ChangeStatus/@item.AboutId"><i class="fas fa-times-circle"></i> Pasif Yap</a></td>
            }
            else
            {
                <td><a class="btn btn-success btn-sm" href="/About/ChangeStatus/@item.AboutId"><i class="fas fa-check"></i> Aktif Yap</a></td>
            }

        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    LiElementClasses = new List<string>
    {
        "page-link"
    }
})