@using EntityLayer.Concrete
@model List<Content>
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Yazılar</h3>
<br />
@using (Html.BeginForm("GetAllContent","Content",FormMethod.Post))
{
    <p>
        <strong>Aranacak Kelime:</strong> @Html.TextBox("p")
        <input type="submit" value="Ara"/>
    </p>
}
<br />
@foreach (var x in Model)
{
    <p>@x.ContentValue</p>
}

